FIDO2: Metadata authentication algorithm

Protocol: FIDO2 v1.0
Implementation class: Authenticator
Conformance tool: 1.3.0
OS Version: Windows10 v19.03 (18362.418)

WebAuthn W3C Recommendation states:
*For COSEAlgorithmIdentifier -7 (ES256), and other ECDSA-based algorithms, a signature value is encoded as an ASN.1 DER Ecdsa-Sig-Value, as defined in [RFC3279] section 2.2.3.*

see: https://www.w3.org/TR/webauthn/#signature-attestation-types)

 

My authenticator metadata states 
`"authenticationAlgorithm": 2` (i.e.: ALG_SIGN_SECP256R1_ECDSA_SHA256_DER 0x0002)
After running tests I got the following errors:


```
Error: The FIDO algorithm ALG_SIGN_SECP256R1_ECDSA_SHA256_DER(0x2) is not supported by FIDO2. Maybe try changing from DER to RAW?
```


Changing the metadata with:
`"authenticationAlgorithm": 1` (i.e.: ALG_SIGN_SECP256R1_ECDSA_SHA256_RAW 0x0001)
and still producing signature in **DER** encoding make tests succeded, but, weird enough, producing signature in **RAW** encoding make tests fail again and tool shows:

```
Error: Signature without r or s
```

My questions are: 
* what authenticationAlgorithm I have to declare in metadata? 
* what encoding should I use for signatures?




@fminoridev Historic reason. Wontchange

Okay. So the METADATA should declare `"authenticationAlgorithm": 1` and the authenticator should produce DER encoded signature.